:root{
    --text: #E6EDF3;
    --text-sub: #8B949E;
    --bg: #0d1117;
    --bg-sub: #161B22;
    --bg-sub-sub: #21262D;
    --bg-popup: hsla(0, 0%, 6%, 0.4);
    --border: #30363D;
    --border-sub: #2e3338;
    --btn-green: #2EA043;
    --btn-red: #F85149;

    background-color: var(--bg);
    color: var(--text);
}

body{
    display: flex;
    justify-content: center;
}

.Header{
    background-color: var(--bg-sub);
    width: 90vw;
    height: auto;
    padding: 2vh;
    border: 2px solid var(--border);
    color: var(--text);
}

.TaskManager{
    background-color: var(--bg-sub);
    width: 80vw;
    height: auto;
    padding: 2vh;
    border: 2px solid var(--border);
    color: var(--text);
    margin: 5vh;
}

.TaskActions{
    display: inline-flex;
    width: 100%;
}

.DeleteTask-btn{
    width: 5vw;
    height: 3vh;
    background-color: var(--btn-red);
    margin: 1vh;
}

.AddTask-btn{
    width: 5vw;
    height: 3vh;
    margin: 1vh;
    margin-left: auto;
    background-color: var(--btn-green);
}

body.active-modal{
    overflow-y: hidden;
}

.add-task{
    background-color: var(--bg-popup);
    display: flex;
    background-color: var();
    width: 100vw;
    height: 100vh;
}

.add-task, .overlay{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--bg-sub);
    border: 2px solid var(--border);
    box-shadow: #0d1117;
    width: 40vw;
    height: 40vh;
    text-align: center;
    border-radius: 10px;
}

.TaskContainer{
    margin-top: 3vh;
    display: flex;
}

.Checkbox{
    float: left;
    height: 100%;
    margin-right: 2vh;
}

.Task{
    width: 100%;
    padding: 1vh;
}

.ConfirmDelete-btn{
    float: right;
    background-color: #F85149;
    width: 3vh;
    height: 3vh;
    /*visibility: ;*/
}

.Task h3{
    margin: 0;
}

.TaskContent{
    background-color: var(--bg-sub-sub);
    width: 95%;
    padding: 1vh;
    margin-top: 2vh;
    border: 1px solid var(--border-sub);
}

table{
    border: 1px solid white;
    width: 100%;
}

td{
    background-color: var(--border-sub);
    height: 2px;
    width: 2px;
}

.Footer{
    background-color: var(--bg-sub);
    width: 90vw;
    height: auto;
    padding: 2vh;
    border: 2px solid var(--border);
    color: var(--text);
    text-align: center;
}